<div class="modal-header">
    <a href="" class="close modal-close pull-right" ng-click="$close()">&times;</a>
    <h3 class="modal-title">
        KML Export Selection
    </h3>
</div>
<div class="modal-body">
    <p>KML exporting temporary disabled.</p>
    <br />
    <!--<li ng-repeat="server in KmlServers">-->
        <!--{{server}}-->
        <!--<input type="text" onclick="this.select()" class="form-control" value="{{kmlLinks[$index]}}" />-->
        <!--Layers enabled:-->
        <!--<li ng-repeat="layer in KmlLayers[$parent.$index]">-->
            <!--{{layer}}-->
        <!--</li>-->
    <!--</li>-->
</div>